<launch>

  <node name="paintingrobot_planningresult_visualization" pkg="polishingrobot_offlineplanner" type="polishingrobot_mobileplatform_positions_visualization.py" />

  <include file="$(find polishingrobot_description)/launch/display.launch">
  </include>  
  
  <arg name="point_cloud_file" default="/home/zy/catkin_ws/src/polishingrobot_ylz/polishingrobot_scanning_result/20200716_scan_planningstl.pcd"/>
  <!-- <node pkg="ground_truth" type="PointCloud_Pub_node" name="PointCloud_Pub_node"  args = "$(arg point_cloud_file)" output = "screen" /> -->
  <node pkg="ground_truth" type="PointCloud_Pub_node" name="PointCloud_Pub_node"  args = "$(arg point_cloud_file)" />

</launch>
